@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");
/*Variables*/
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
$primary-color: #3498db;
$secondary-color: #e84393;
$dark-color: #2d3436;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
  text-decoration: none;
  list-style-type: none;
}
//Custum scrollbar
body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: $dark-color;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: $primary-color;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: $secondary-color;
}

a {
  text-decoration: none;
  color: #fff;
}
.btn {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 1rem 1.8rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
//Box Hradings
.heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .box-heading {
    font-size: 2.5rem;
    text-align: center;
    font-family: $primary-font;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 22%;
      transform: translateY(-50%);
      width: 300px;
      height: 4px;
      background-color: $primary-color;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 22%;
      transform: translateY(-50%);
      width: 300px;
      height: 4px;
      background-color: $secondary-color;
    }
  }
}
